{% extends "base.html" %}

{% block title %}Otabek | Fios team | About{% endblock title%}

{% block style %}
        .secondtline{
            width: 102px;
        }
        .col-md-6 ul li:nth-child(2) a{
            color: black;
        }
{% endblock style%}

{% block content %}
<!-- --------------------------------------------------------------------about-page-1------------------------------------------------ -->

    <div class="container mt-2">
        <div class="row">
        <div class="col-md-5 mt-4">
            <div class="about-fios">
            <strong><span style="color: #9407bf;"><b>F</b></span><span style="color: #fc882f;"><b>IOS</b> </span> bu  ... <br></strong>
            </div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium eveniet, impedit,
            minus odit sunt ut veritatis nihil ad porro, laudantium quasi ullam animi quaerat
            deserunt. Veritatis dolorum quaerat neque voluptatibus?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium eveniet, impedit,
            minus odit sunt ut veritatis nihil ad porro, laudantium quasi ullam animi quaerat
            deserunt. Veritatis dolorum quaerat neque voluptatibus?
            </p>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-5 image_3 mt-5 ">
            <img src="../static/images/logo2.png" alt="Person Image" class="person" />
        </div>
        </div>
    </div>
<!-- --------------------------------------------------------------------about-page-1------------------------------------------------ -->
<hr>
<!-- --------------------------------------------------------------------about-page-2------------------------------------------------ -->
<div class="container">
    <div class="row">
        <div class="col-md-5 mt-4">
            <div>
                <h1><span>Bizning maqsadimiz</span></h1>
            </div> <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, eos nulla iusto quidem reprehenderit vitae sunt nihil natus voluptatum recusandae debitis, eum labore amet consequatur! Ullam facere doloribus vitae rerum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, eos nulla iusto quidem reprehenderit vitae sunt nihil natus voluptatum recusandae debitis, eum labore amet consequatur! Ullam facere doloribus vitae rerum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, eos nulla iusto quidem reprehenderit vitae sunt nihil natus voluptatum recusandae debitis, eum labore amet consequatur! Ullam facere doloribus vitae rerum.</p>
        </div>
        <div class="col-md-1">

        </div>
        <div class="col-md-6 mt-4">
            <div>
                <h1><span>Muvaffaqiyatli bitiruvchilarimiz</span></h1>
            </div><br>
                <h5>Android development</h5>
            <div class="progress">
            <!-- White color (progress-bar-white) -->
                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 75% ;">

            </div>
            </div><br>
                <h5>Java backend development</h5>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
            </div>
            </div><br>
                <h5>Python backend development</h5>
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 85%">

            </div>
            </div><br>
                <h5>Frontend development</h5>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 75%">

            </div>
            </div>
        </div>
    </div>
</div>
<!-- --------------------------------------------------------------------about-page-2------------------------------------------------ -->
<hr>
<!-- --------------------------------------------------------------------about-page-3------------------------------------------------ -->
<div class="container">
    <div class="row">
        <div class="col-md-12 mt-4 text-center">
            <h1>Nega aynan biz?</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3 image_about_1 ">
                <img src="../static/images/about image 1.1.jpg" alt="">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-6  mt-5">
                <h3>
                    Dasturlashni o‘rganish
                </h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, magni adipisci vitae assumenda similique officiis.
                </p>
            </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3 image_about_2">
                    <img src="../static/images/about image 2.jpg" alt="">
                </div>
                <div class="col-md-6  mt-5 ms-3">
                    <h3>
                        Vaqtingizni tejash
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, magni adipisci vitae assumenda similique officiis.
                    </p>
                </div>
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3 image_about_3 ">
                <img src="../static/images/about image 3.2.jpg" alt="">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-6  mt-2">
                <h3>
                    Do’stona atmosfera
                </h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, magni adipisci vitae assumenda similique officiis.
                </p>
            </div>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="row">
                <div class="col-md-3 image_about_4">
                    <img src="../static/images/about image 4.jpg" alt="">
                </div>
                <div class="col-md-6  mt-2 ms-3">
                    <h3>
                        24/7 qo‘llab-quvvatlash
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, magni adipisci vitae assumenda similique officiis.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div><br>
<!-- --------------------------------------------------------------------about-page-3------------------------------------------------ -->
<hr>
<!-- --------------------------------------------------------------------about-page-4------------------------------------------------ -->
<div class="container">
    <div class="row">
        <div class="col-md-6 ps-5 pt-5">
            <div class="about-fios-2  pt-5">
                <strong><span style="color: #9407bf;"><b>F</b></span><span style="color: #fc882f; "><b>IOS     </b> </span><br> RAQAMLARDA</strong>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quisquam <br> explicabo repellendus ut distinctio ullam sint iusto fugiat dolorem <br> pariatur?
            </p>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-3 image_about_5 mt-4 ">
                    <img src="../static/images/about image 5.jpg" alt="">
                </div>
                <div class="col-md-8">
                    <div class="text_about">
                        <h1>
                            <b>12+</b>
                        </h1>
                    </div>
                    <p>
                        <b>Barcha</b>  kurslarimiz soni
                    </p>
                </div>
            </div>
            <div class="row">

                <div class="col-md-3 image_about_6 mt-1 ">
                    <img src="../static/images/about image 6.1.jpg" alt="">
                </div>
                <div class="col-md-1">

                </div>
                <div class="col-md-8">
                    <div class="text_about ">
                        <h1>
                            <b>12+</b>
                        </h1>
                    </div>
                    <p>
                        <b>Mentor</b> va <b> assistentlarimiz</b> soni
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-3 image_about_7 mt-2 ">
                    <img src="../static/images/about image 7.3.jpg" alt="">
                </div>
                <div class="col-md-8">
                    <div class="text_about">
                        <h1>
                            <b>600+</b>
                        </h1>
                    </div>
                    <p>
                        Umumiy <b> talabalarimiz</b> soni
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- --------------------------------------------------------------------about-page-4------------------------------------------------ -->

{% endblock content%}
