{% extends "base.html" %}

{% block title %}Otabek | Fios team | Courses{% endblock title%}

{% block style %}
        .threeline{
            width: 52px;
        }
        .col-md-6 ul li:nth-child(3) a{
            color: black;
        }
{% endblock style%}

{% block content %}
<!-- --------------------------------------------------------------------courses-page------------------------------------------------ -->
<!-- --------------------------------------------------------------------courses-image-1------------------------------------------------ -->
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center mt-5">
            <h1>Bizning kurslarimiz</h1>
        </div>
    </div> <br>
    <div class="row mt-5">
        <div class="col-md-3 courses-rasmlar">
            <div class="courses-fon">
            <p>
                Python development
            </p> <br>
            <a href="appeal.html" class="btn btn1">Ariza qoldirish</a>
            </div>
            <img class="courses-image" src="../static/images/1.png" alt="" >
        </div>
<!-- --------------------------------------------------------------------courses-image-1------------------------------------------------ -->

<!-- --------------------------------------------------------------------courses-image-1------------------------------------------------ -->
        <div class="col-md-3 courses-rasmlar">
            <div class="courses-fon">
                <p>
                    Algorithms
                </p><br>
                <a href="appeal.html" class="btn btn1">Ariza qoldirish</a>
            </div>
            <img class="courses-image" src="../static/images/2.png" alt="">
        </div>
<!-- --------------------------------------------------------------------courses-image-2------------------------------------------------ -->
<!-- --------------------------------------------------------------------courses-image-3------------------------------------------------ -->
        <div class="col-md-3 courses-rasmlar">
            <div class="courses-fon">
                <p>
                    Data Structures
                </p> <br>
            <a href="appeal.html" class="btn btn1">Ariza qoldirish</a>
            </div>
            <img class="courses-image" src="../static/images/3.png" alt="">
        </div>
<!-- --------------------------------------------------------------------courses-image-3------------------------------------------------ -->

<!-- --------------------------------------------------------------------courses-image-4------------------------------------------------ -->
        <div class="col-md-3 courses-rasmlar">
            <div class="courses-fon">
                <p>
                    ReactJS Development
                </p> <br>
            <a href="appeal.html" class="btn btn1">Ariza qoldirish</a>
            </div>
            <img  class="courses-image" src="../static/images/4.png" alt="">
        </div>
    </div> <br>
<!-- --------------------------------------------------------------------courses-image-4------------------------------------------------ -->
<!-- --------------------------------------------------------------------courses-image-5------------------------------------------------ -->
    <div class="row mt-5">
        <div class="col-md-3 courses-rasmlar">
            <div class="courses-fon">
                <p>
                    Spring Development
                </p> <br>
            <a href="appeal.html" class="btn btn1">Ariza qoldirish</a>
            </div>
            <img class="courses-image" src="../static/images/5.png" alt="">
        </div>
<!-- --------------------------------------------------------------------courses-image-5------------------------------------------------ -->

<!-- --------------------------------------------------------------------courses-image-6------------------------------------------------ -->
        <div class="col-md-3 courses-rasmlar">
            <div class="courses-fon">
                <p>
                    Django Development
                </p> <br>
            <a href="appeal.html" class="btn btn1">Ariza qoldirish</a>
            </div>
            <img class="courses-image" src="../static/images/6.png" alt="">
        </div>
<!-- --------------------------------------------------------------------courses-image-6------------------------------------------------ -->
<!-- --------------------------------------------------------------------courses-image-7------------------------------------------------ -->
        <div class="col-md-3 courses-rasmlar">
            <div class="courses-fon">
                <p>
                    IOS Development
                </p> <br>
            <a href="appeal.html" class="btn btn1">Ariza qoldirish</a>
            </div>
            <img class="courses-image" src="../static/images/7.png" alt="">
        </div>
<!-- --------------------------------------------------------------------courses-image-7------------------------------------------------ -->
<!-- --------------------------------------------------------------------courses-image-8------------------------------------------------ -->
        <div class="col-md-3 courses-rasmlar">
            <div class="courses-fon">
                <p>
                    Flutter Development
                </p> <br>
            <a href="appeal.html" class="btn btn1">Ariza qoldirish</a>
            </div>
            <img class="courses-image" src="../static/images/8.png" alt="">
        </div>
<!-- --------------------------------------------------------------------courses-image-8------------------------------------------------ -->

<!-- --------------------------------------------------------------------courses-image-9------------------------------------------------ -->
    </div> <br>
    <div class="row mt-5">
        <div class="col-md-3 courses-rasmlar">
            <div class="courses-fon">
                <p>
                    NodeJs Development
                </p> <br>
            <a href="appeal.html" class="btn btn1">Ariza qoldirish</a>

            </div>
            <img class="courses-image" src="../static/images/9.jpg" alt="">
        </div>
<!-- --------------------------------------------------------------------courses-image-9------------------------------------------------ -->

<!-- --------------------------------------------------------------------courses-image-10------------------------------------------------ -->
        <div class="col-md-3 courses-rasmlar">
            <div class="courses-fon">
                <p>
                    Android Development
                </p> <br>
            <a href="appeal.html" class="btn btn1">Ariza qoldirish</a>
            </div>
            <img class="courses-image" src="../static/images/10.png" alt="">
        </div>
<!-- --------------------------------------------------------------------courses-image-10------------------------------------------------ -->
<!-- --------------------------------------------------------------------courses-image-11------------------------------------------------ -->
        <div class="col-md-3 courses-rasmlar">
            <div class="courses-fon">
                <p>
                    Frontend Development
                </p> <br>
            <a href="appeal.html" class="btn btn1">Ariza qoldirish</a>
            </div>
            <img class="courses-image" src="../static/images/11.png" alt="">
        </div>
<!-- --------------------------------------------------------------------courses-image-11------------------------------------------------ -->
<!-- --------------------------------------------------------------------courses-image-12------------------------------------------------ -->
        <div class="col-md-3 courses-rasmlar">
            <div class="courses-fon">
                <p>
                    Java Development
                </p> <br>
            <a href="appeal.html" class="btn btn1">Ariza qoldirish</a>
            </div>
            <img class="courses-image" src="../static/images/12.png" alt="">
        </div>
<!-- --------------------------------------------------------------------courses-image-12------------------------------------------------ -->


    </div>
</div> <br><br><br><br><br>

<!-- --------------------------------------------------------------------courses-page------------------------------------------------ -->

{% endblock content%}
